.header {
    background-color: #000;
    color: #fff;

    &__container {
        max-width: 1080px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        font-size: 32px;
    }

    &__search {
        flex: 0 1 65%;
        height: 40px;
        background: #48474c;
        border-radius: 5px;
        padding: 5px 36px 5px 36px;
        display: flex;
        align-items: center;
        gap: 5px;
        box-sizing: border-box;

        &-input {
            background-color: inherit;
            height: 30px;
            color: #fff;
            border: none;
            width: 100%;
            padding: 0;
            font-family: inherit;

            &::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }

            &:focus-visible {
                outline: none;
            }
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__favorites,
    &__shopping-cart {
        cursor: pointer;

        &:hover {
            svg {
                fill: blue;
            }
        }
    }
}

// .shopping-cart {
//     position: fixed;
//     top: 0;
//     right: 0;
//     width: 500px;
//     height: 100%;
//     background-color: #fff;
//     z-index: 10;
// }
