* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Metamorphous', cursive;
  font-size: 14px;
  line-height: 150%;
}

#root {
  height: 100%;
}